.app{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    font-size: 40px;
}

span{
    margin: 12px 0;
}

.inputs{
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inputs input{
    width: 100%;
    height: 45px;
    margin-bottom: 12px;
    padding: 0 12px;
    border: 0;
    border-radius: 5px;
    color: white;
    background-color: #121212;
    font-size: 18px;
    text-align: center;
}

.inputs button{
    width: 100%;
    height: 45px;
    border: 0;
    border-radius: 5px;
    background-color: #357AFF;
    color: white;
    font-size: 18px;
}

h2{
    margin-top: 30px;
}